﻿@*@{
        ViewData["Title"] = "Files";
    }

    <h2>Files</h2>*@

@model _20170140141_RizkiFajar_UCp1.Models.Upload.FilesViewModel

<p>List of Files</p>

<ul>
    @foreach (var item in Model.Files)
    {
        <li>
            <a asp-action="Download"
               asp-route-filename="@item.Name">
                @item.Name
            </a>
        </li>
    }
</ul>

