﻿@model UAS_20170140141_RizkiFajar.Models.Kamar

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kamar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeKamar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeKamar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoKamar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoKamar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lantai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lantai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Biaya)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Biaya)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdKamar" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
