﻿@model UAS_20170140141_RizkiFajar.Models.Kamar

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kamar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeKamar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeKamar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoKamar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoKamar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lantai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lantai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Biaya)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Biaya)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdKamar">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
