﻿@model IEnumerable<UAS_20170140141_RizkiFajar.Models.Kamar>

@{
    ViewData["Title"] = "Kamar";
}

<h2>Data Daftar Kamar</h2>

<p>
    <a asp-action="Create">Tambah Data</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Type Kamar")
            </th>
            <th>
                @Html.DisplayName("No Kamar")
            </th>
            <th>
                @Html.DisplayName("Lantai")
            </th>
            <th>
                @Html.DisplayName("Biaya")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeKamar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoKamar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lantai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biaya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdKamar">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdKamar">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdKamar">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
