﻿@model UAS_20170140141_RizkiFajar.Models.Makanan

@{
    ViewData["Title"] = "Makanan";
}

<h2>Halaman Menambah data Makanan</h2>

@*<h4>Makanan</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaketMakanan" class="control-label">Paket Makanan</label>
                <input asp-for="PaketMakanan" class="form-control" />
                <span asp-validation-for="PaketMakanan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HargaPermakanan" class="control-label">Harga Permakanan</label>
                <input asp-for="HargaPermakanan" class="form-control" />
                <span asp-validation-for="HargaPermakanan" class="text-danger"></span>
                <br />
                <button><a asp-area="" asp-controller="Upload" asp-action="Index">Upload</a></button>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
