﻿@model UAS_20170140141_RizkiFajar.Models.Makanan

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Makanan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaketMakanan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaketMakanan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HargaPermakanan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HargaPermakanan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMakanan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
