﻿@model IEnumerable<UAS_20170140141_RizkiFajar.Models.Makanan>

@{
    ViewData["Title"] = "Makanan";
}

<h2>Daftar Paket Makanan</h2>

<p>
    <a asp-action="Create">Tambah Data Makanan</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Paket Makanan")
            </th>
            <th>
                @Html.DisplayName("Harga Permakanan")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaketMakanan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HargaPermakanan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMakanan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMakanan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMakanan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
