﻿@model UAS_20170140141_RizkiFajar.Models.RoomService

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoomService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaketService)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaketService)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HargaPerservice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HargaPerservice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdRoomservice">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
