﻿@model IEnumerable<UAS_20170140141_RizkiFajar.Models.RoomService>

@{
    ViewData["Title"] = "RoomService";
}

<h2>List Data RoomService</h2>

<p>
    <a asp-action="Create">Tambah Data</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Paket Service")
            </th>
            <th>
                @Html.DisplayName("Harga Perservice")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaketService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HargaPerservice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRoomservice">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRoomservice">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRoomservice">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
